
.partners-details {
    width: 80vw;
    margin: auto;
    padding: 100px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
  }
  
  .partners-details-top-container {
    display: flex;
    justify-content: space-between;
  }
  
  .partners-details-top-heading {
    width: 480px;
    color: #777;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  
  .partners-details-top-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
  }
  
  .kotak-image {
    width: 309px;
    height: 112px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\kotak.png"),
      white 50% / cover no-repeat;
  }
  
  .angel-one {
    width: 358px;
    height: 115px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\angelone.png"),
      white 50% / cover no-repeat;
    margin-top: 30px;
  }
  
  .upstox {
    width: 197px;
    height: 56px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\upstox.png"),
      white 50% / cover no-repeat;
    margin-top: 60px;
  }
  
  .amfi {
    width: 119px;
    height: 110px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\amfi.png"),
      white 50% / cover no-repeat;
    margin-left: 20px;
  }
  
  .lendbox {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\lendbox.png"),
      white 50% / cover no-repeat;
    margin-left: -150px;
    margin-top: -35px;
  }
  
  .liquiloans {
    width: 257px;
    height: 31px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\liquiloans.png"),
      white 50% / cover no-repeat;
    margin-left: -230px;
    margin-top: 50px;
  }
  
  .partners-details-bottom-container {
    margin-top: 100px;
    display: flex;
  }
  
  .partners-details-bottom-heading {
    width: 446px;
    color: #777;
    font-family: Gilroy;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 50px;
  }
  
  .partners-details-bottom-images {
    display: flex;
  }
  
  .siply-container {
    width: 267px;
    height: 163px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
  }
  
  .siply {
    width: 206px;
    height: 78px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\siply.png"),
      #b1b1b1 50% / cover no-repeat;
  }
  
  .jupiter-container {
    width: 267px;
    height: 163px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #b1b1b1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .jupiter {
    width: 227px;
    height: 64px;
    flex-shrink: 0;
    background: url("H:\Chottastock\chotta-stock\public\jupiter.png"),
      #b1b1b1 50% / cover no-repeat;
  }
  